/**
 * This ruleset has been opened up to allow all authenticated users read/write access.
 * This is for development and debugging purposes and is not recommended for production.
 */
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    // WARNING: These rules are insecure and allow any signed-in user to read/write any data.
    match /{path=**} {
      allow read, write: if isSignedIn();
    }
  }
}
